/* -------  General Styles ------- */

body {
  font-family: "Lato", sans-serif;
}

h2 {
  font-size: 26px;
  font-weight: 400;
  margin: 0 10px 10px 10px;
  text-align: center;
}

h3 {
  font-size: 18px;
  font-weight: 500;
}

p {
  line-height: 1.5em;
  margin: 0;
}

section {
  padding: 20px;
}

section.alternate-background {
  background-color: #00a699;
  color: #fff;
}

main img {
  width: 100px;
}

/* ---  Groups & Items --- */

.group {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.item {
  margin: 10px 0;
  flex: 1;
  width: 100%;
}

.item-double {
  flex: 2;
}

/* -------  Navigation ------- */

header {
  background-color: #ff385c;
  padding: 20px 20px 0 20px;
  text-align: center;
  display: flex;
  flex-direction: column;
}

.logo {
  font-family: "Pangolin", cursive;
  font-size: 17vw;
  color: #fff;
}

header nav ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding-bottom: 15px;
}

header nav ul li {
  list-style-type: none;
}

header nav ul li a {
  color: #fff;
  text-decoration: none;
  padding: 0 20px 0 0;
}

header nav ul li a:hover {
  color: #bdbdbd;
  text-decoration: none;
}

/* -------  Search Form ------- */
form {
  border: 2px solid #ff385c;
  padding: 10px;
  display: flex;
  flex-direction: column;
}

form div {
  display: flex;
  justify-content: space-between;
  flex-wrap:wrap
}

form label {
  font-weight: bold;
}

form select,
form input {
  margin-bottom: 20px;
  min-width:50px;
  width: 60%
}

form button {
  background-color: #ff385c;
  border: none;
  color: #fff;
  font-size: 7vw;
  padding: 15px;
  width: 100%;
}

/* -------  Footer ------- */

footer {
  background-color: #ff385c;
}

footer p {
  color: #fff;
  text-align: center;
  padding: 20px;
}

/* -------  Media Query ------- */
@media all and (min-width: 480px){
  .logo {
    font-size: 72px;
  }
  header {
    flex-direction: row;
    justify-content: space-between;
  }
  header nav ul {
    margin: 30px 0 0;
  }

  form {
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  form div {
    flex-direction: column;
  }

  form button {
    font-size: 24px;
    align-self: flex-end;
  }

  .group{
    flex-direction: row;
    flex-wrap: wrap;
  }

  .horizontalGrouping{
    display: flex;
    flex-direction: row;
  }

  #about .item{
    width: 25%;
    margin: 10px;
  }

  #ideas .group div{
    display: flex;
    flex-direction: column;
  }

  #ideas .item{
    max-width: 1200px;
  }

  #ideas div div div{
    margin: 10px;
  }

  #host{
    display: flex;
  }

  #host div{
    display: flex;
    flex-direction: column;
    flex: 1;
  }

  #host .item{
    justify-content: center;
  }

}